*{
    margin: 0%;
    font-family: "Jost", sans-serif;
}
body{
    background-image: url("background.jpg");
    background-size: cover;
}
.f1{
    background-color: lavender;
    width: 100%;
    display: flex;

}
.he1{
    margin-top: .2em;
    margin-left: 0px;
}
.material-symbols-outlined{
    margin: .5em;
}
.f2{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.f2 button{
    border-radius: 2em;
    background-color: lavender;
    margin: .7em;
    box-shadow:   2px 3px 10px lightyellow;
    text-decoration: none;
    size:20vh;
    font-size: 1.4em;
    padding: 0em 2em ;
    text-decoration: none;
    border-color: lavender;
}

.f4{
    position: absolute;
    bottom: 0%;
    height: 10%;
    width: 100%;
    background-color: lavender;
    display: flex;
    justify-content: space-around;
}
.f4 div{
    margin: 1.5em 0px;
}
.material-icons{
    size: 1.6em;
    margin: .8em;
    color: rgb(28, 27, 27);

}

#plus{
    font-size: 50px;
}
#hand{
    margin-top: .8em;
    margin-left: 0px;
}
#tune{
    position: absolute;
    left:95%;
    margin: .3em;
    font-size: 30px;
    align-items: center;
}
.logo {
    width: 4em;  /* Adjust width */
    height: auto;  /* Maintain aspect ratio */
    max-width: 100%; /* Ensures it scales down */
}

/* Make the logo adjust based on screen size */
@media (max-width: 768px) {
    .logo {
        width: 4em;
         /* Smaller logo for smaller screens */
}
}
#expences{
    color: white;
    background-color: rgb(93, 179, 230);
}
#icons{
    font-size:2em;
}
#highlight{
    font-size: 2.2em;
    color: rgb(93, 179, 230);
}