 .expences_amount{
    display: flex;
    /* background-image: url("background_addition.jpg"); */
    background-color: rgba(93, 179, 230,0.5);
    height: 2em;
    margin: 2em;
    padding: .5em;
    border-radius: 1em ;
    justify-content:space-evenly;
 }
 .expences_amount_add{
   border-radius: .4em;
   background-color: inherit;
   font-size:1em;
   border: 3px solid black;
   color:black;
 }
 ::placeholder{
   color: #000;
   text-align: center;
 }
 .add_discription{
   background-color: rgba(93, 179, 230,0.5);
   height: 5em;
   margin: 2em;
   padding: .5em;
   border-radius: 1em ;
   justify-content:space-evenly;
}
.expences_discription{
   border: none;
   width: 100%;
   background-color: inherit;
   height: 4em;
   font-size: 1.2em;
}
.expences_discription::placeholder{
   font-size: 2em;
   text-align: start;
   font-weight: 800;
}
.save_amount_data{
   position: absolute;
   bottom: 15%;
   left:90%;
   font-size: 25px;
   border-radius: 1em;
   background-color: #000;
   color:white;
}
.save_amount_data:hover{
   background-color: #5db3e6;
   color: #000;
}

